Dataset: https://www.kaggle.com/datasets/ahmtcnbs/datasets-for-appiori

In [1]:
from efficient_apriori import apriori
import pandas as pd

In [2]:
df = pd.read_csv('basket_analysis.csv')

In [3]:
df = df.iloc[:, 1:]
df.head(6)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,True,True,True,True,False,True,False,True,False,False,True,False,False,True,True,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Apple         999 non-null    bool
 1   Bread         999 non-null    bool
 2   Butter        999 non-null    bool
 3   Cheese        999 non-null    bool
 4   Corn          999 non-null    bool
 5   Dill          999 non-null    bool
 6   Eggs          999 non-null    bool
 7   Ice cream     999 non-null    bool
 8   Kidney Beans  999 non-null    bool
 9   Milk          999 non-null    bool
 10  Nutmeg        999 non-null    bool
 11  Onion         999 non-null    bool
 12  Sugar         999 non-null    bool
 13  Unicorn       999 non-null    bool
 14  Yogurt        999 non-null    bool
 15  chocolate     999 non-null    bool
dtypes: bool(16)
memory usage: 15.7 KB

In [5]:
df.isna().any()

Apple           False
Bread           False
Butter          False
Cheese          False
Corn            False
Dill            False
Eggs            False
Ice cream       False
Kidney Beans    False
Milk            False
Nutmeg          False
Onion           False
Sugar           False
Unicorn         False
Yogurt          False
chocolate       False
dtype: bool

In [6]:
facturas = [tuple(df.columns[df.iloc[i].values]) for i in range(len(df))]

In [7]:
for i in range(6):
    print(facturas[i])

('Bread', 'Corn', 'Dill', 'Ice cream', 'Sugar', 'Yogurt', 'chocolate')
('Milk',)
('Apple', 'Butter', 'Dill', 'Ice cream', 'Milk', 'Yogurt', 'chocolate')
('Butter', 'Cheese', 'Dill', 'Milk', 'Nutmeg', 'Onion')
('Apple', 'Bread')
('Apple', 'Bread', 'Butter', 'Cheese', 'Dill', 'Ice cream', 'Nutmeg', 'Unicorn', 'Yogurt', 'chocolate')

In [8]:
itemsets, rules = apriori(facturas, min_support=0.2, min_confidence=0.4)

In [9]:
for rule in rules:
    print(rule)

{Ice cream} -> {Butter} (conf: 0.505, supp: 0.207, lift: 1.201, conv: 1.171)
{Butter} -> {Ice cream} (conf: 0.493, supp: 0.207, lift: 1.201, conv: 1.163)
{Kidney Beans} -> {Butter} (conf: 0.495, supp: 0.202, lift: 1.178, conv: 1.148)
{Butter} -> {Kidney Beans} (conf: 0.481, supp: 0.202, lift: 1.178, conv: 1.140)
{chocolate} -> {Butter} (conf: 0.480, supp: 0.202, lift: 1.141, conv: 1.114)
{Butter} -> {chocolate} (conf: 0.481, supp: 0.202, lift: 1.141, conv: 1.115)
{Kidney Beans} -> {Cheese} (conf: 0.490, supp: 0.200, lift: 1.212, conv: 1.168)
{Cheese} -> {Kidney Beans} (conf: 0.495, supp: 0.200, lift: 1.212, conv: 1.172)
{chocolate} -> {Ice cream} (conf: 0.480, supp: 0.202, lift: 1.169, conv: 1.133)
{Ice cream} -> {chocolate} (conf: 0.493, supp: 0.202, lift: 1.169, conv: 1.140)
{chocolate} -> {Milk} (conf: 0.501, supp: 0.211, lift: 1.236, conv: 1.192)
{Milk} -> {chocolate} (conf: 0.521, supp: 0.211, lift: 1.236, conv: 1.208)

In [10]:
itemsets

{1: {('Bread',): 384,
  ('Corn',): 407,
  ('Dill',): 398,
  ('Ice cream',): 410,
  ('Sugar',): 409,
  ('Yogurt',): 420,
  ('chocolate',): 421,
  ('Milk',): 405,
  ('Apple',): 383,
  ('Butter',): 420,
  ('Cheese',): 404,
  ('Nutmeg',): 401,
  ('Onion',): 403,
  ('Unicorn',): 389,
  ('Eggs',): 384,
  ('Kidney Beans',): 408},
 2: {('Butter', 'Ice cream'): 207,
  ('Butter', 'Kidney Beans'): 202,
  ('Butter', 'chocolate'): 202,
  ('Cheese', 'Kidney Beans'): 200,
  ('Ice cream', 'chocolate'): 202,
  ('Milk', 'chocolate'): 211}}